<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="equipe">Equipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="imc">IMC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="essence">Essence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="maison-connectee">Maison Connectée</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

